

/* Signets */

/*

.card, #copyUpdatedHTML {display: none;}

.azoriussignet,
.dimirsignet,
.orzhovsignet {display:block;}

*/
/*

.card, #copyUpdatedHTML {display: none;}

.contaminatedlandscape,
.evolvingwilds,
.fabledpassage,
.fetidheath,
.floodedstrand,
.glacialfortress,
.isolatedchapel,
.marshflats,
.polluteddelta,
.shatteredsanctum,
.terramorphicexpanse
{display: block;}
*/